* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    background-color: #1F2937;
    font-family: 'Roboto', monospace;
    padding: 16px 120px;
}