* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    padding: 16px 150px;
    align-items: center;
    gap: 32px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-link.link-one {
    margin-left: auto;
}